<div class="auth-form__fields">
    {{{ formFieldEmail }}}
    {{{ formFieldLogin }}}
    {{{ formFieldName }}}
    {{{ formFieldSurname }}}
    {{{ formFieldPhone }}}
    {{{ formFieldPassword }}}
    {{{ formFieldPasswordConfirmation }}}
</div>
