<main class="root">
    <nav class="home-nav">
        {{{linkAuth}}}
        {{{linkSignIn}}}
        {{{linkChats}}}
        {{{linkSettings}}}
        {{{linkChangePassword}}}
        {{{linkError404}}}
        {{{linkError500}}}
    </nav>
</main>
