<div class="user-form__fields">
    {{{ formFieldEmail }}}
    {{{ formFieldLogin }}}
    {{{ formFieldName }}}
    {{{ formFieldSurname }}}
    {{{ formFieldChatName }}}
    {{{ formFieldPhone }}}
</div>
