<div>
    <main class="root">
        <div class="chats">
            {{{ linkProfile }}}
            {{{ buttonOpenCreateChatModal }}}
            {{{ createChatModal }}}
            {{{ addUserModal }}}
            {{{ deleteUserModal }}}
            {{{ chatInfos }}}
        </div>
        {{{ chatHistory }}}
    </main>
</div>
