<div class="wrapper">
  <form class="user-form">
    <div class="user-form__avatar-upload">
      <label for="avatar" class="user-form__avatar">
        <p class="user-form__avatar-background">&#128444;</p>
        <p class="user-form__avatar-tooltip">Поменять аватар</p>
      </label>
      <input class="user-form__avatar-input" id="avatar" name="avatar" type="file" />
    </div>
    <h1 class="user-form__title">{{ title }}</h1>
    <div class="user-form__fields">
      {{#each fields}}
        <div class="user-form__field {{ this.additionalClass }}">
          <label class="user-form__field-label">{{ this.label }}</label>
          <input value="{{ this.value }}" class="user-form__field-input" type="{{ this.type }}" placeholder="{{ this.label }}" name="{{ this.name }}" id="{{ this.name }}" />
        </div>
      {{/each}}
    </div>
    {{> button buttonText="Сохранить" buttonClass="user-form__button" }}
    <div class="user-form__links">
      {{#each links}}
        <div class="user-form__field {{ this.additionalClass }}">
          {{> link this }}
        </div>
      {{/each}}
    </div>
  </form>
</div>
