<div>
    <div class="{{ class }} {{ additionalClass }}">
        <label for="{{ name }}" class="{{ class }}-label">{{ label }}</label>
        {{{ input }}}
    </div>
    <span class="{{ class }}-error field-error">{{ error }}</span>
</div>
