<div class="chat-history">
    <div class="chat-history__header">
        <div class="chat-history__chat-description">
            <div class="chat-history__chat-picture"></div>
            <p class="chat-history__chat-title">{{ title }}</p>
        </div>
        {{!-- <button class="chat-history__header-button">
            <svg width="3" height="16" viewBox="0 0 3 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="1.5" cy="2" r="1.5" fill="#3369F3"/>
                <circle cx="1.5" cy="8" r="1.5" fill="#3369F3"/>
                <circle cx="1.5" cy="14" r="1.5" fill="#3369F3"/>
            </svg>
        </button> --}}
        <div class="chat-history__header-menu">
            {{{ buttonAddUser }}}
            {{{ buttonDeleteUser }}}
        </div>
    </div>

    {{{ chatMessages }}}

    <div class="chat-history__footer">
        {{{ messageForm }}}
    </div>
</div>