<div class="chat-history">
    <div class="chat-history__header">
        <div class="chat-history__chat-description">
            <div class="chat-history__chat-picture"></div>
            <p class="chat-history__chat-title">{{ title }}</p>
        </div>
        <div class="chat-history__header-menu">
            {{{ buttonAddUser }}}
            {{{ buttonDeleteUser }}}
        </div>
    </div>

    {{{ chatMessages }}}

    <div class="chat-history__footer">
        {{{ messageForm }}}
    </div>
</div>