<form class="user-form">
    <div class="user-form__avatar-upload">
    <label for="avatar" class="user-form__avatar">
        <p class="user-form__avatar-background">&#128444;</p>
        <p class="user-form__avatar-tooltip">Поменять аватар</p>
    </label>
    <input class="user-form__avatar-input" id="avatar" name="avatar" type="file" {{ avatarDisabled }}/>
    </div>
    <h1 class="user-form__title">{{ title }}</h1>
    {{{ formFields }}}
    {{{ button }}}
    {{{ links }}}
</form>
